@charset "utf-8";
@import url("./font/font.css");
:root{
  /* font family */
  --family-bold:'Gilroy-Bold ☞';
  --family-light:'Gilroy-Light ☞';
  --family-medium:'Gilroy-Medium ☞';
  --family-regular:'Gilroy-Regular ☞';
  --family-nanum:'NanumSquareNeo-Variable';
  /* radius */
  --radius-sm:20px;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
}
ul,li{
  list-style: none;
}
a{
  text-decoration: none;
  color: #333;
}
img{
  border:0;
  vertical-align: middle;
}
html{
  font-size: 16px;
}
body{
  font-family: var(--family-nanum);
  color: #222;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0;
  word-break:keep-all
}
/* 공통요소 */
.wrap{
  position: relative;
  display: block;
}
.inner{
  position: relative;
  display: block;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

/* header */
.header{
  height: 80px;
  font-family: var(--family-medium);
  font-size: 16px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999999;
  cursor: pointer;
}
.header *{
  cursor: pointer;
}
.header .inner{
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
  height: 100%;
}
.header-mobile{
  display: none;
}
.header-left{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
}
.header-left h1 a img{
  width: 120px;
}
.left-menu ul{
  display: flex;
  gap: 70px;
}
.left-menu ul li a{
  position: relative;
  cursor: pointer;
  overflow: hidden;
  display: block;
  text-align: center;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  padding: 0;
}
.left-menu ul li a span{
  display: block;
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: -webkit-transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.left-menu ul li a::after{
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  content: attr(data-hover);
  display: inline;
  text-align: center;
  -webkit-transition: top 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: top 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.left-menu ul li a:hover{
  color: #cc8e35;
}
.left-menu ul li a:hover span{
  color: #cc8e35;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
.left-menu ul li a:hover::after{
  top: 0;
}
.header-right .contact-btn{
  padding: 8px 10px;
  border-radius: var(--radius-sm);
  position: relative;
  background-color: #dbdbdb;
  overflow: hidden;
  font-size: 14px;
  cursor: pointer;
}
.contact-btn::before{
  cursor: pointer;
  background-color: #222;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  border-radius: var(--radius-sm);
  transform-origin: right;
  transition: transform 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}
.contact-btn:hover{
  color: white;
  border-radius: var(--radius-sm);
  background: transparent;
}
.contact-btn:hover::before{
  transform: scaleX(1);
  transform-origin: left;
}
@media  screen and (max-width:1024px) {
  
}
@media screen and (max-width:768px){

}
/* visual */
.visual{
  padding-top: 80px;
  position: relative;
  display: block;
  width: 100%;
  height: 90vh;
}
.visual .inner{
  max-width: 91.1458vw;
  width: 100%;
  height: 100%;
}
.visual .inner .visual-main{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  width: 800px;
}
.visual-point{
  display: inline-block;
}
.visual-point img{
  width: 24px;
}
.visual h1{
  font-family: var(--family-medium);
  font-size: 110px;
  margin: 0;
}
.visual-main .main-top{
  display: flex;
  align-items: flex-end;
  gap: 30px;
  margin-bottom: 30px;
}
.visual-main .main-top p{
  line-height: 1.5;
}
.main-bottom{
  display: flex;
  gap: 30px;
  justify-content: flex-end;
}
.main-bottom svg{
  animation: stroke 4s infinite alternate;
  stroke-width: 2;
  stroke: #63a0ed;
}
.cls-1{
  font-family: 'Sriracha', cursive;
  font-size: 110px;
}
@keyframes stroke {
  0%   {
    fill: rgba(72,138,20,0); stroke: #63a0ed;
    stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width:1;
  }
  70%  {fill: rgba(72,138,20,0); stroke: #63a0ed; }
  80%  {fill: rgba(72,138,20,0); stroke: #63a0ed; stroke-width: 3; }
  100% {
    fill: #63a0ed; stroke: rgba(54,95,160,0); 
    stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
  }
}
.visual-img{
  display: inline-block;
  position: absolute;
}
.visual-img img{
  width: 11.9792vw;
}
.vs-one{
  bottom: 150px;
}
.vs-one:hover{
  transform: scale(1.03);
  transition: all .2s ease-in;
}
@keyframes rotate{
  0%{transform: rotate(0);}
  50%{
    transform: rotate(5deg);
  }
  100%{transform: rotate(0);}
}
.vs-two{
  right: 30px;
  top: 50px;
  animation: rotate 2s infinite alternate ease-in-out;
}
.vs-two:hover{
  transform: rotate(20deg);
  transition: all .2s ease-in;
}
.vs-three{
  right: 0;
  bottom: 0;
}
.vs-three:hover{
  transform: translateY(-20px);
  transition: all .3s ease-in;
}
.visual .inner .visual-desc{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 8px;
}
.visual .inner .visual-desc h3{
  font-family: var(--family-medium);
  font-size: 40px;
}
.visual .inner .visual-desc p{
  font-family: var(--family-regular);
  font-size: 20px;
}
@media screen and (max-width:1024px) {
  .visual .inner .visual-main{
    width: 68.3594vw;
  }
  .visual h1{
    font-size: 7.8125vw;
  }
}

/* skill-keyword */
@keyframes keyword {
  0%{
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100%{
    -webkit-transform: translateX(-10%);
    transform: translateX(-10%);
  }
}
.skill-keyword{
  position: relative;
  display: block;
  overflow: hidden;
  max-width: 100%;
  height: 30px;
  margin-top: 50px;
  white-space: nowrap;
}
.keyword-wrap{
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: keyword 10s infinite linear alternate ;
}
.keyword-wrap span{
  font-size: 14px;
  font-family: var(--family-medium);
  color: #6c6c6c;
  display: inline-block;
  margin-right: 50px;
}
.keyword-wrap span img{
  margin-right: 10px;
  width: 10px;
}


/* about */
/* skills */
/* portfolio */
/* vision */
/* contact */